UI_APP_SERVICE_NAME=<prod-ui-appservice-name>
UI_VITE_API_BASE_URL=https://<prod-apim-hostname>
UI_VITE_OIDC_CLIENT_ID=<prod-entra-client-id>
UI_VITE_OIDC_AUTHORIZATION_ENDPOINT=https://login.microsoftonline.com/<prod-tenant-id>/oauth2/v2.0/authorize
UI_VITE_OIDC_TOKEN_ENDPOINT=https://login.microsoftonline.com/<prod-tenant-id>/oauth2/v2.0/token
UI_VITE_OIDC_LOGOUT_ENDPOINT=https://login.microsoftonline.com/<prod-tenant-id>/oauth2/v2.0/logout
UI_VITE_OIDC_REDIRECT_URI=https://<prod-ui-hostname>
UI_VITE_OIDC_SCOPE=openid profile api://<prod-api-app-id-uri>/access_as_user
UI_VITE_EVENTS_WS_URL=
UI_VITE_EVENTS_SSE_URL=
